#loginWrapper {
  /* border: 1px solid red; */
  /* height: 100vh; */
  padding-top: 100px;
}
#loginWrapper > div {
  border: 1px solid rgb(175, 170, 170);
  border-radius: 10px;
  max-width: 350px;
  padding: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#loginWrapper > div > div {
  display: flex;
  width: 50%;
  justify-content: space-around;
  padding: 10px;
}
#loginWrapper > div > div > button {
  /* border: 1px solid red; */
  padding: 5px;
}
table {
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;
}
td {
  border: 1px solid rgb(224, 224, 224);
  padding: 5px;
}

#loginWrapper form {
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loginWrapper form button {
  width: 100%;
}
#loginWrapper p {
  margin: 0;
}
#loginWrapper h2 {
  margin: 0;
}
