button{
  padding: 8px;
  border: none;
  background-color: #087873;
  color: aliceblue;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 0.8px;
 margin-top: 25px;
}
.add{
  border: 1px saddlebrown;
}